<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :body %>
  <%= f.text_field :body %>
</p>

<p>
  <%= f.label :author %>
  <%= f.text_field :author %>
</p>

<p>
  <%= f.submit %>
</p>